*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 200px;
    background: salmon;
    overflow: hidden;
    overflow: visible;

    /* overflow: auto; */
    /* overflow: scroll; */
    /* overflow: hidden; */

}